<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>old pig baby</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='jquery/jquery-3.6.0.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% block link %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
     <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
            <a class="navbar-brand" href="{{ url_for('index') }}">Pig Baby</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
{#                {% if session.user_code %}#}
{#                    <li id="user_avatar"><img width="30" height="30" class="img-circle"#}
{#                                              src="" alt="">#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false">这里以后是用户名<span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li><a href="#">个人站点</a></li>#}
{#                            <li><a href="#">后台管理</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="{{ url_for('account.logout') }}">注销</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% else %}#}
                    <li><a href="#">个人中心</a></li>
                    <li><a href="{{ url_for('account.logout') }}">注销</a></li>
{#                {% endif %}#}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    {% block body %}
    {% endblock %}
</div>

    {% block script %}
    {% endblock %}

</body>
</html>